<!-- Se requiere un algoritmo para obtener la estatura promedio de un grupo de personas, cuyo numero de miembros se desconoce, el ciclo debe efectuarse siempre y cuando se tenga una estatura registrada -->

<!doctype html>
<html lang="en">

<head>
    <title>DOM Estructuras Ciclicas 03 - Estaturas/Promedio</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <button class="btn btn-outline-primary btn-block" id="btnInit">Iniciar Aplicacion</button>
    <div id="ZonaPrint" class="alert alert-primary mt-3">
        Content
    </div>
    <script src="./../js/app.js"></script>
</body>

</html>