<!-- Una persona adquirió un producto para pagar en 20 meses. El primer mes pago $10, el segundo $20, el tercero $40 y así sucesivamente. Realice un algoritmo para determinar cuánto debe pagar mensualmente y el total de lo que pago después de los 20 meses. -->

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <button class="btn btn-outline-success btn-block mt-3" id="btnMeses">Calcular Pagos</button>
    <div class="alert alert-primary mt-3" id="divAlert"></div>
    <div class="alert alert-danger mt-3" id="divTotal"></div>

    <script src="./../js/app.js"></script>
</body>

</html>