<!-- Se requiere un algoritmo para obetener la edad promedio de un grupo de N alumnos -->

<!doctype html>
<html lang="en">

<head>
    <title>DOM Estructuras Ciclicas 02 - Edades/Promedio</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <button class="btn btn-outline-primary btn-block" id="btnInit">Iniciar Aplicacion</button>
    <div id="ZonaPrint" class="alert alert-primary mt-3">
        Contenido
    </div>
    <script src="./../js/app.js"></script>
</body>

</html>