<!-- Dados los datos A, B y C que representan números enteros diferentes, construir un algoritmo para escribir estos números en forma descendente.  -->

<!doctype html>
<html lang="en">

<head>
    <title>Estructuras Selectivas 05 - Numeros Descendentes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center mt-2">Numeros Decendentes</h1>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="">Numero 1</label>
                        <input type="number" id="inpNum1" class="form-control">
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="">Numero 2</label>
                        <input type="number" id="inpNum2" class="form-control">
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="">Numero 3</label>
                        <input type="number" id="inpNum3" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" id="btnApp">Ordenar</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div id="zonePrint" class="alert alert-success">
                            Acomodo de los numeros es:
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="./../js/app.js"></script>
</body>

</html>