<!-- Se requiere un algoritmo para determinar cuanto ahorrara una persona en un año, si al final de cada mes deposita variables cantidades de dinero, ademas desea conocer cuanto lleva ahorrado cada mes -->

<!doctype html>
<html lang="en">

<head>
    <title>DOM Estructuras Ciclicas 04 - Ahorro Anual</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <button class="btn btn-outline-primary btn-block" id="btnInit">Iniciar Aplicacion</button>
    <div id="ZonePrint" class="alert alert-primary">
        <ul class="list-group" id="ListaAhorro"></ul>
    </div>
    <script src="./../js/app.js"></script>
</body>

</html>