<!-- El empleado de la tienda “Tiki Taka” realiza N ventas durante el día, se requiere saber cuántas de ellas fueron mayores a $1000, cuantas fueron mayores a $500 pero menores o iguales a $1000, y cuantas fueron menores o iguales $500. Además, se requiere saber el monto de lo vendido en cada categoría y de forma global. -->

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <button class="btn btn-outline-success btn-block mt-3" id="btnComenzar">Comenzar Aplicacion</button>
    <div class="alert alert-primary mt-3" role="alert" id="divAlert">

    </div>

    <script src="./../js/app.js"></script>
</body>

</html>