<!-- 
El 14 de febrero una persona desea comprarle al ser querido que mas aprecia en ese momento, su dilema radica en regalo puede hacerle, las alternativas que tienen son los siguientes:
Tarjeta = $ 10.00 o menos
Chocolates = $ 11.00 a $ 100.00
Flores = $ 101.00 a $ 250.00
Anillo = Más de $ 251.00
•	Desarrolle una solución para decidir qué regalo puede comprar.
 -->

<!doctype html>
<html lang="en">

<head>
    <title>Estructuras Selectivas 16 - Regalo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center mt-2">Regalo 14 de Febrero</h1>
    <div class="container">
        <div class="jumbotron">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Presupuesto</label>
                        <input type="number" id="inpPresupuesto" class="form-control" placeholder="$">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" id="btnApp">Calcular Regalo</button>
                    </div>
                </div>
            </div>

            <div id="zonePrint" class="alert alert-success">Regalo: </div>
        </div>
    </div>

    <script src="./../js/app.js"></script>
</body>

</html>